<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.CodeCoverage" version="16.7.1" targetFramework="net471" />
  <package id="MSTest.TestAdapter" version="2.1.2" targetFramework="net471" />
  <package id="MSTest.TestFramework" version="2.1.2" targetFramework="net471" />
  <package id="OpenCover" version="4.7.922" targetFramework="net471" />
  <package id="System.IO.Compression" version="4.3.0" targetFramework="net471" />
  <package id="System.IO.Compression.ZipFile" version="4.3.0" targetFramework="net471" />
</packages>